<form method="post" action="{{ path('app_liste_delete', {'id': liste.id}) }}" onsubmit="return confirm('Möchten Sie wirklich diesen Eintrag löschen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste.id) }}">
    <button class="btn btn-light">Löschen</button>
</form>
